@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-white;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgba(36, 36, 36, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@layer base {
  h1 {
    @apply text-center;
  }
}

@layer components {
  .button {
    @apply rounded py-2 px-6 font-semibold bg-[#e5e5e5] text-[#343232] hover:bg-[#f9d3a9];
  }
  .flex-container {
    @apply flex gap-4 items-center justify-center;
  }
}
